<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Attendance </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/images/classroom.jpg" alt=""></ion-img>
      <ion-card-subtitle>
        Gestion de l'assiduité des étudiants
      </ion-card-subtitle>
      <ion-card-title>Attendance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Attendance est une application de gestion de l'assiduité des étudiants
      </p>
      <a routerLink="/roster" routerDirection="forward">Voir la liste</a>
    </ion-card-content>
  </ion-card>
</ion-content>
